
* {

    margin: 0%;
    padding: 0%;
    
}

.card {

    background-image: linear-gradient(rgba(146, 0, 165, 0.103), rgba(255, 0, 0, 0.13));
    height: 300px;
    width: 300px;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-width:100%;
max-height:100%
   
 
}

.card_image {
    width:100px;
    height:100px;
    
    border-radius:50%;
    padding: 20px;
    max-width:100%;
max-height:100%;
}

.card_title {
    display: flex;
    float: right;

    font-size: 2vmax;

    padding: 30px 30px 20px 20px ;
  

    color: rgb(70, 0, 0);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(94, 0, 0);
    max-width:100%;
max-height:100%
   
   

}

.card_age {

    font-size: 1vmax;
    padding: 10px 20px 0px 20px;  

    color: rgb(104, 41, 41);

    border-top: 2px solid white;
    border-bottom: 0px solid white;
    max-width:100%;
max-height:100%
}

.card_cell {

    font-size: 1vmax;
    padding: 10px 20px 8px 20px;  

    color: rgb(104, 41, 41);

    border-top: 1px solid white;
    max-width:100%;
max-height:100%
}

.card_location {

    font-size: 1vmax;
    padding: 8px 20px 8px 20px;  

    color: rgb(104, 41, 41);

    border-top: 1px solid white;
    border-bottom: 1px solid white;
    max-width:100%;
    max-height:100%;
      
    text-align : center;
}

.card_email {

    font-size: 1vmax;
    padding: 86px 20px 4px 20px;  
    text-align : center;

    color: rgb(104, 41, 41);

    border-top: 0px solid white;
    border-bottom: 0px solid white;
    max-width:100%;
max-height:100%
}

.fa-brands {

    color: rgb(104, 41, 41);
    max-width:100%;
max-height:100%;
text-align:center;
padding-top: 40px;
 
}

.title {

    text-align : center;
    margin-bottom: 50px;
    font-family: 'Staatliches', cursive;
    color: rgb(104, 41, 41);
    font-size: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: rgb(94, 0, 0);
    

}




.User {

    padding: 60px;

    background-image: url('C:\Users\Danish Butt\Desktop\React Projects\User Cards\user-cards\src\background.jpg');
   
}

